*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primario: #2C5F2D;
    --fondo: #fff;
    --secciones: #F5F5F5;
    --detalles: #8B4513;
}

html{
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;

}

#inicio{
    display: flex;
    width: 100%;
    height: 100px;
    border-bottom: 4px solid var(--primario);
    align-items: center;
    background-color: #c6f1c7;
    box-shadow: 0 2px 16px gray;
    position: fixed;
    top: 0;
}

.nav-bar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo h1{
    font-size: 2.1em;
    color: var(--primario);
    margin-left: 20px;
    padding: 8px;
}

.search{
    outline: 1px solid var(--primario);
    border-radius: 25px;
    width: 320px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background-color: var(--secciones);
}

.search input{
    border: 0;
    width: 210px;
    background-color: transparent;
    outline: none;
    margin-left: 8px;
}


.search:hover{
    box-shadow: 0 3px 12px black;
}

.menu{
    /* background-color: aqua; */
    padding: 6px;
    width: 500px;
}

.menu ul li{
    display: inline;
    margin: 0 10px;
    
}

.menu a{
    text-decoration: none;
    color: #2C5F2D;
    transition: border-bottom 0.4s ease-in-out, color 0.4s ease;
}

.menu a:hover{
    /* font-weight: 600; */
    color: #032904;
    border-bottom: 1px solid var(--primario);

}

.sale{
    margin-right: 12px;
}

.sale a{
    margin-right: 15px;
    padding: 9px;
    outline: 1px solid var(--primario);
    border-radius: 10px;
}

.sale i{
    color: var(--primario);
}

.sale i:hover{
    color: var(--secciones);
}

/* seccion hero */

.hero{
    width: 100%;
    height: 450px;
    margin-top: 190px;
    background: url(./recursos/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.title-hero{
    text-align: center;
}

.title-hero h2{
    font-weight: 600;
    color: var(--secciones);
}

.title-hero p{
    color: #c6f1c7;
    font-weight: 300;
}

.title-hero button a{
    text-decoration: none;
    color: var(--secciones);
}

.title-hero button{
    width: 195px;
    margin-top: 25px;
    padding: 9px;
    background-color: transparent;
    border: 0;
    outline: 2px solid var(--fondo);
    transition: background-color 0.4s ease-in;
}

.title-hero button:hover{
    background-color: var(--primario);
    mix-blend-mode: screen;
}

/* seccion productos */

#productos{
    width: 1200px;
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    justify-content: center;
    align-content: center;
    gap: 20px;
    padding: 10px;
    margin-left: 90px;
    margin-top: 160px;
}

.productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: dimgrey; */
}


.img{
    width: 420px;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 1px solid var(--detalles);
    border-radius: 15px;
}

.img:hover{
    /* https://smoothshadows.com/#djEsMywzLDAuMjcsMTksMjUsMTksIzAzMDcxMiwjZjNmNGY2LCNmZmZmZmYsMg%3D%3D */
box-shadow: 2px 3px 2px rgba(3, 7, 18, 0.27),
8px 11px 8px rgba(3, 7, 18, 0.27),
19px 25px 19px rgba(3, 7, 18, 0.27);

}

.img img{
    width: 380px;
    height: auto;
    object-fit: cover;
}

.title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}

.btn button{
    width: 180px;
    text-align: center;
    padding: 5px 9px;
    background-color: crimson;
    border: 0;
    margin: 10px 0;
    transition: background-color 0.3s ease-in-out;
}

.btn button:hover{
    background-color: rgb(104, 4, 24);

}

.btn button a{
    text-decoration: none;
    color: #F5F5F5;
}

.description{
    width: 100%;
    padding: 20px;
    font-weight: 300;
}

/* seccion jardieria */

#jardineriaEcologica{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 180px;
}

.section{
    width: 720px;
}

.description h3{
    font-size: 2.1em;
    text-align: center;
    margin-bottom: 50px;
}

.description-txt{
    margin-bottom: 15px;
}

.description li{
    font-weight: 600;
}

.txt-info{
    margin-bottom: 10px;
}

.division{
    width: 580px;
    height: 3px;
    background-color: #2C5F2D;
    margin: 0 auto;
    border-radius: 15px;
}

/* seccion comentarios */

